{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>

            <div style="display:flex">
                {% for tag in post.tags.all %}
                    <a href="{% url 'post_tag' tag.slug %}"># {{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

